{{#if noMoreGames}}
    <div id="game-{{index}}" class="reveal-modal" data-reveal>
    <div id="modalContents">
        <h1>
            That's Everything!
        </h1>
        <h4>
            Change your criteria to see more games.
        </h4>
    </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
{{else}}
    <div id="game-{{index}}" class="reveal-modal" data-reveal>
        <div id="modalContents">
            <h1>
                How about...
            </h1>

            <img src="{{image}}" style="float: left; margin-right:20px;">
            <h1>
                {{name}}
            </h1>
            <h3>
                {{minPlayers}} - {{maxPlayers}} players
            </h3>
            <h3>
                Playing time: {{playingTime}} minutes
            </h3>
            <h3>
                Your rating: {{userRating}}
            </h3>

            <div>
                <a href="http://boardgamegeek.com/boardgame/{{id}}" class="button" target="_blank">See it on BGG</a>
            </div>
            <div>
                <a href="#"  data-reveal-id="game-{{nextIndex}}" class="button pick">Pick another</a>
            </div>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
{{/if}}