<h1>
    How about...
</h1>

<img src="{{image}}" style="float: left; margin-right:20px;">
<h1>
    {{name}}
</h1>
<h3>
    {{minPlayers}} - {{maxPlayers}} players
</h3>
<h3>
    Playing time: {{playingTime}} minutes
</h3>
<h3>
    Your rating: {{userRating}}
</h3>

<div>
    <a href="http://boardgamegeek.com/boardgame/{{id}}" class="button" target="_blank">See it on BGG</a>
</div>
<div>
    <a href="#" class="button pick">Pick another</a>
</div>