<div class="game-list-item" data-game-id="{{id}}">
    <img src="{{thumbnail}}">
    <h4>
        {{name}}
    </h4>
    <div>
        {{minPlayers}} - {{maxPlayers}} players
    </div>
    <div>
        {{playingTime}} minutes
    </div>
    <div>
        Your rating: {{userRating}}
    </div>
    <div>
        <a href="http://boardgamegeek.com/boardgame/{{id}}" target="_blank">See it on BGG</a>
    </div>
    </div>
</div>